@model IEnumerable<WallpaperForum.Models.Discussion>

@{
    ViewData["Title"] = "Discussion";
}

<h1>Threads</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Preview</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Content)</th>
            <th>Comments</th>
            <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageFilename))
                    {
                        <a asp-action="GetDiscussion" asp-controller="Home" asp-route-id="@item.DiscussionId">
                            <img src="@Url.Content("~/images/" + item.ImageFilename)" alt="Thumbnail" style="width: 100px; height: auto;" />
                        </a>
                    }
                    else
                    {
                        <em>No image</em>
                    }
                </td>
                <td>
                    <a asp-action="GetDiscussion" asp-controller="Home" asp-route-id="@item.DiscussionId" class="text-decoration-none">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>@Html.DisplayFor(modelItem => item.Content)</td>
                <td>
                    <i class="fa-solid fa-comments"></i> @item.CommentCount
                </td>
                <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DiscussionId" class="btn btn-secondary btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.DiscussionId" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.DiscussionId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
